.search-page{
    width: 100%;
}
.search-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-section-input{
    width: 100%;
    padding:50px 0 20px 0;
    position: sticky;
    top: 80px;
    background-color: white;
}

.search-result-container{
    width: 50%;
}
.search-input-bar{
    width: 50%;
    display: block;
    margin:0 auto;
    height: 45px;
    font-size: 1em;
    padding: 10px;
    outline: none;
}

